/** global i18nl10n language styles **/
.mod_i18nl10nLanguageNavigation ul {
    list-style: none;
    padding: 0 0 0 5px;
    margin: 10px 0;
}

.i18nl10n_flag {
    display: inline-block;
    width: 16px;
    min-height: 12px;
    margin-right: 5px;
    background: url(../img/i18nl10n.png) no-repeat center;
}

.i18nl10n_lang_de .i18nl10n_flag {
    background-image: url(../img/flag_icons/de.png);
}

.i18nl10n_lang_en .i18nl10n_flag {
    background-image: url(../img/flag_icons/en.png);
}