/**
 *  @Section    Extending Contao style
 *******************************************************
 */
.tl_listing .tl_left {
    width: 400px;
}

ul.level_1 .tl_left {
    width: 380px;
}

ul.level_2 .tl_left {
    width: 360px;
}

ul.level_3 .tl_left {
    width: 340px;
}

ul.level_4 .tl_left {
    width: 320px;
}

ul.level_5 .tl_left {
    width: 300px;
}


/**
 *  @Section    i18nl10n styles
 *******************************************************
 */
.header_l10n_localize_all {
    background: url("../img/localize_all.png") no-repeat scroll left center transparent;
    padding: 2px 0 3px 20px;
    margin-left: 15px;
}

.header_l10n_define_language {
    background: url("../img/i18nl10n.png") no-repeat scroll left center transparent;
    padding: 2px 0 3px 20px;
    margin-left: 15px;
}

.i18nl10n_page_message {
    text-align: left;
    line-height: 120%;
    padding: 0.5em;
    font-weight: bold;
    background: #fea;
    border: 1px solid #D49822;
    margin-bottom: 20px;
}

.i18nl10n_page_message .tl_submit_container {
    background: none;
    border-top: 1px solid #D49822;
    text-align: right;
    margin-top: 0.5em;
    padding: 0.5em;
}

.i18nl10n_page_message .tl_submit {
    margin-left: 10px;
}

.i18nl10n_page_message a {
    color: #666966;
    font-weight: bold;
    text-decoration: underline;
}

.i18nl10n_page_message a:hover {
    color: #d00;
}

.i18nl10n_flag,
.tree_view img.i18nl10n_flag {
    display: inline-block;
    vertical-align: middle;
}

.i18nl10n_page {
    color: #b3b3b3;
    padding-left: 3px;
}

.i18nl10n_page_language_listing {
    margin: 10px 0;
}

.tree_view .tl_listing img.i18nl10n_article_flag,
.i18nl10n_content_flag {
    vertical-align: middle;
}

.tree_view .tl_listing img.i18nl10n_article_flag {
    margin-left: 5px;
}

.tl_message_link {
    text-decoration: underline;
}