/** global i18nl10n language styles **/
.mod_i18nl10nLanguageSelection ul {
    list-style: none;
    padding: 0 0 0 5px;
    margin: 10px 0;
}

.i18nl10n_flag {
    display: inline-block;
    width: 16px;
    min-height: 12px;
    margin-right: 5px;
}

.i18nl10n_flag img {
    vertical-align: top;
    margin-top: 1px;
}

.i18nl10n_iso {
    display: none;
}